{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/itfactoryca.myshopify.com/products/configure/196424/edit
{% endcomment %}
{% if product.metafields.custom_fields["bb_sale_price"] != blank %}
  <div class="custom-field custom-field__bb-sale-price custom-field__type--number">
    <h3 class="custom-field--title">bb_sale_price</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["bb_sale_price"] }}
    </div>
  </div>
{% endif %}