{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/itfactoryca.myshopify.com/products/configure/196423/edit
{% endcomment %}
{% if product.metafields.custom_fields["custom_label_1"] != blank %}
  <div class="custom-field custom-field__custom-label-1 custom-field__type--number">
    <h3 class="custom-field--title">custom_label_1</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["custom_label_1"] }}
    </div>
  </div>
{% endif %}