{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.bb_regular_price' %}
  {% include 'custom_fields.products.bb_sale_price' %}
  {% include 'custom_fields.products.cf_os' %}
</div>