<div>
  <center><img class="rewards-hero" alt="ITF Rewards" src="https://cdn.shopify.com/s/files/1/0370/5857/6516/files/image_1920x.png?v=1656997613" /></center>
</div>

<div class="container container--narrow">

  <div class="page__content rte">
    {{ page.content }}
  </div>
</div>